body {
    color: orangered;
}

.marketing, .header {
 @include border-top-radius(50px);
 @include border-bottom-radius(50px);
    h3, h4,p {
        padding-left: $padding-left-margin;
        color: $gray-dark;
		font-family: $font-family3;
    }
    p {
       
		font-family: $font-family2;
        font-size: $font-size-small;
    }
	
}

.container .jumbotron, #appleImage {
    @include border-top-radius(50px);
    @include border-bottom-radius(50px);
    h1 {
        color: $gray-dark;
    }
    #hellowoldtype {
        font-size: $font-size-large;
    }
	
	.btn {
	
	@include button-variant(red, white, blue);
	
	}
	#appleImage {
	
	@include opacity(0.7);
	}
    #inputField {
        color: $gray-dark;
    

    }
}

.footer p   {

	@include text-hide()

}

/*This is teh curser styling to show blink/fade affect for the JS text script*/

  .typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }